<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />	
    </startup>
	<connectionStrings>
  <add name="cn" connectionString="Data Source=DESKTOP-7UV710R;Initial Catalog=SistemaVentas;Integrated Security=True" />
  <add name="CapaPresentacion.Properties.Settings.SistemaVentasConnectionString"
   connectionString="Data Source=DESKTOP-7UV710R;Initial Catalog=SistemaVentas;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>